<div class="row">

    <div class="col-md-3 m-auto">

        <div class="card mx-auto" style="max-width: 540px;">
                <img src="../../assets/imgs/one.jpg" class=" card-img-top" style="height:200px"  alt="student">
                  <div class="card-body">
                  <h5 class="card-title">Name:<span class="ml-3">Ahhmed</span></h5>
                  <h5 class="card-text">Age:<span class="ml-3">18</span></h5>
                  <h5 class="card-text">Faculty:<span class="ml-3">scince</span></h5>                         
                </div>
            
          </div>
    </div>

  </div>