<section id="" class="py-5">

  <div class="container">

    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="text-center border border-light p-5">

        <p class="h4 mb-4">Add Student</p>

        <!--input hidden have id value -->
          <input type="hidden" name="id" [(ngModel)]="service.formData.id" #id="ngModel">
    
        <!-- Student Name -->
        <input type="text" required  minlength="3" max length="100" pattern="[A-Za-z ]{3,100}" [(ngModel)]="service.formData.studentName" ngModel name="studentName" #studeNtname="ngModel"  class="form-control mt-4" placeholder="Student Name">
        <div class="alert alert-danger" *ngIf="studeNtname.touched && !studeNtname.valid" >
          <div *ngIf="studeNtname.errors.required">Name is requied </div>
          <div *ngIf="studeNtname.errors.minlength">Name min legnth 3 </div>
          <div *ngIf="studeNtname.errors.pattern">Name dosenot match pattern </div>
        </div>

        <!-- Address -->
        <input type="text" name="studentAddress" [(ngModel)]="service.formData.studentAddress" #address="ngModel" class="form-control mt-4" placeholder="Address">
        
    
        <!-- Faculty -->
        <input type="text" required ngModel [(ngModel)]="service.formData.Faculty"  name="Faculty" minlength="3" max length="100" pattern="[A-Za-z]{3,100}" #faculty="ngModel" class="form-control mt-4" placeholder="Faculty Name" >
        <div class="alert alert-danger" *ngIf="faculty.touched && !faculty.valid" >
            <div *ngIf="faculty.errors.required">Fculty Name is requied </div>
            <div *ngIf="faculty.errors.minlength"> Fculty Name min legnth 3 </div>
            <div *ngIf="faculty.errors.pattern">Fculty Name dosenot match pattern </div>
        </div>
    
        <!-- Phone number -->
        <input type="text" required ngModel [(ngModel)]="service.formData.studentphone" name="studentphone"  pattern="\d{14}" #studentphone="ngModel" class="form-control mt-4 " placeholder="Phone number" >
        <div class="alert alert-danger" *ngIf="studentphone.touched && !studentphone.valid" >
            <div *ngIf="studentphone.errors.required">Phone Numbers  is requied </div>
            <div *ngIf="studentphone.errors.pattern">Phone Should be Number And 14 digit length</div>
        </div>

        <!-- Date Of Birth -->
        <input type="date" name="studentBirthDay" [(ngModel)]="service.formData.studentBirthDay" #dateBirth="ngModel" class="form-control mt-4" placeholder="Date Of Birth " >

        <!-- Image -->
        <input type="file" name="studentImage" [(ngModel)]="service.formData.image" #image="ngModel" class="form-control mt-4" placeholder="Image " accept="image/*" >
        
         <div class="buttons-save float-left">
          
        <button type="submit" [disabled]="form.invalid"  class="btn btn-info my-4 btn-block py-2 px-5">Save</button>
         </div>

        <div class="buttons-Back float-right">

            
            <button class="btn btn-danger my-4 btn-block py-2 px-5">Back</button>
         </div>
         <div class="clearfix"></div>
        
       
  </form>    
    
    


</div>



</section>


<app-test></app-test>