<section id="" class="py-5">

<div class="container">

    

        <p class="h4 mb-4">Add Student</p>
    
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text"  class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text"  class="form-control" placeholder="Last name">
            </div>
        </div>
    
        <!-- Address -->
        <input type="text" id="" class="form-control mb-4" placeholder="Address">
    
        <!-- Faculty -->
        <input type="text" id="" class="form-control" placeholder="Faculty Name" >
        <small id="" class="form-text text-muted mb-4">
            At least 8 characters 
        </small>
    
        <!-- Phone number -->
        <input type="text" id="" class="form-control" placeholder="Phone number" >
        <small id="" class="form-text text-muted mb-4">
            At least 8 digit 
        </small>
        <!-- Date Of Birth -->
        <input type="date" id="" class="form-control mb-4" placeholder="Date Of Birth " >

        <!-- Image -->
        <input type="file" id="" class="form-control mb-4" placeholder="Image " accept="image/*" >
        
        <div class="buttons-save float-left">
            <swal
            #addsuccess
            title="Added Successfully"
            type="success"
            >
          </swal>
        <button [swal]="addsuccess" class="btn btn-info my-4 btn-block py-2 px-5">Save</button>
        </div>

        <div class="buttons-Back float-right">
            
            <button class="btn btn-danger my-4 btn-block py-2 px-5">Back</button>
         </div>
    <div class="clearfix"></div>
        
       
        
    
    


</div>



</section>